CLIENT_URL=http://localhost:3000
PORT=4000
PYTHON_API_URL=http://ai-service:8000

DATABASE_URL="postgresql://user:password@host:5432/database?sslmode=require"
JWT_SECRECT_KEY="replace-me"
CLOUD_NAME="replace-me"
CLOUD_API_KEY="replace-me"
CLOUD_API_SECRET="replace-me"
